.link-in-header {  
    
    li { 
        position: relative;
        list-style: none !important;
        &:hover {  
            ul { 
                display: block;
                transform: scaleX(1) scaleY(1) !important; 
                opacity: 1 !important;
            }
        }
        ul { 
            opacity: 0;
            transform: scaleX(0) scaleY(0); 
            transform-origin: top; 
        }
    }
     
}
